<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item"><a href="/book">books</a></li>
                <li class="list-group-item"><a href="/video">videos</a></li>
                <li class="list-group-item"><a href="/music">musics</a></li>
                <li class="list-group-item"><a href="/comment">comments</a></li>
                <li class="list-group-item"><a href="/call">call</a></li>
                <li class="list-group-item"><a href="/student">student</a></li>
                <li class="list-group-item"><a href="/student/admin">studentAdmin</a></li>
                <li class="list-group-item"><a href="/book/admin">bookAdmin</a></li>
                <li class="list-group-item"><a href="/music/admin">musicAdmin</a></li>
                <li class="list-group-item"><a href="/video/admin">videoAdmin</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
